
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgba(226, 236, 249, 0.5); 
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    height: 100%;
    width: 306px;
}

.sidebar .logo-details img {
    padding-right: 3%;
}

.sidebar .logo-details {
    height: 39px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 15%;
    padding-left: 10%;
}

.sidebar .logo-details .logo-name{
    font-size: 26px;
    color: #000000;
    font-weight: 600;
}

.sidebar .nav-links {
    height: 100%;
    padding-top: 20%;
    padding-left: 10%;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    padding-bottom: 15%;
    color: #9197B3;
}  

.sidebar .nav-links li:hover {
    background: #5932EA;
    border-radius: 8px;
}

.sidebar .nav-links li img {
    padding-right: 8%;
    color: #9197B3;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link-name {
    font-size: 14px;
    font-weight: 500;
    color: #9197B3;
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
}

.sidebar .profile-details img {
   padding-right: 15px;
}

.sidebar .name-job {
    padding-right: 50px;
 }
.sidebar .profile-details .profile-name {
    font-size: 14px;
    font-weight: 500;
}

.sidebar .profile-details .job {
    font-size: 12px;
    color: #757575;
}
.sidebar .advertisement-details {
    position: fixed;
    bottom: 120px;
    width: 250px;
    height: 150px;
    background: linear-gradient(107.91deg, #EAABF0 7.37%, #4623E9 95.19%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sidebar .advertisement-details .advertisement-content {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding-bottom: 5%;
}

.sidebar .advertisement-details .advertisement-button {
    font-size: 14px;
    font-weight: 600;
    color: #4925E9;
    letter-spacing: 0.01em;
    background: #FFFFFF;
    padding: 2% 18% 3% 18%;
    box-shadow: 2px 4px 4px rgba(79, 42, 234, 0.17);
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22% 2% 25%;
}

.title {
    font-size: 24px;
    font-weight: 500;
}
.numbers {
   display: flex;
   justify-content: center;
}

.graphs {
    display: flex;
    justify-content: space-between;
    padding: 0 20% 0 20%;
} 

.products {
    display: flex;
    justify-content: center;
    width: 958px;
    height: 472px;
    border-radius: 30px;
    background: #FFFFFF;
} 

